.DS_Store
public
resources
.idea
content/.obsidian
content/.trash
content/001 Showroom/001 Drafts/
content/000 Templates/
content/001 Workshop/
content/002 Showroom/001 Drafts/
assets/indices/linkIndex.json
assets/indices/contentIndex.json

